<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new User</h1>
    <form method="post" action="/user">
        <input name="name" type="text" placeholder="Enter your name "><br><br>
        <input name="email" type="text" placeholder="Enter your email here"><br><br>
        <input name="password" type="text" placeholder="Enter your password here"><br><br>
        <button>submit</button>
    </form>
</body>
</html>